.main-page-logo {
	text-align : center;
	> img:first-child {
		width: 40%;
		vertical-align: middle;
	}
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  
  .col-sep {
  border-left: 1px solid lightgray;
}
  