<ion-view view-title="Expense"> <ion-nav-bar
	class="bar-balanced"> <ion-nav-back-button
	class="button-clear"> <i class="ion-arrow-left-c"></i>
Back </ion-nav-back-button> </ion-nav-bar> <ion-content has-bouncing="false"> <mt-alert>
</mt-alert>
<div class="col">
	<button class="button button-block button-balanced"
		ng-click="submitExpense()">Submit Daily Expense</button>
</div>


<div class="col">
	<button class="button button-block button-balanced"
		ng-click="viewExpense()">View Expense</button>
</div>


<div class="col">
	<button class="button button-block button-balanced">Plan
		Expense</button>
</div>
</ion-content> </ion-view>