<ion-view view-title="Expense"> <ion-nav-bar
	class="bar-balanced"> <ion-nav-back-button
	class="button-clear"> <i class="ion-arrow-left-c"></i>
Back </ion-nav-back-button> </ion-nav-bar> <ion-content has-bouncing="false"> <mt-alert>
</mt-alert>
<div class="item item-header item-positive row row-item">
	<div class="col col-right col-10">#</div>
	<div class="col col-right col-sep col-60">Card Name</div>
	<div class="col col-right col-sep col-30">Amount</div>
</div>
<div ng-repeat="(cardName, cardAmount) in currentCardList">
	<div class="item row row-item">
		<div></div>
		<div class="col col-left col-10">{{$index+1}}</div>
		<div class="col col-right col-sep col-60">{{cardName}}</div>
		<div class="col col-right col-sep col-30">{{cardAmount}}</div>
	</div>
</div>
<div class="item item-footer item-positive row row-item">
	<div class="col col-left">Total</div>
	<div class="col col-right"></div>
	<div class="col col-right ">{{currentTotal}}</div>
</div>
<div class="item item-header item-positive row row-item">
	<div class="col col-right col-10">#</div>
	<div class="col col-right col-sep col-60">Card Name</div>
	<div class="col col-right col-sep col-30">Amount</div>
</div>
<div ng-repeat="(cardName, cardAmount) in nextCardList">
	<div class="item row row-item">
		<div></div>
		<div class="col col-left col-10">{{$index+1}}</div>
		<div class="col col-right col-sep col-60">{{cardName}}</div>
		<div class="col col-right col-sep col-30">{{cardAmount}}</div>
	</div>
</div>
<div class="item item-footer item-positive row row-item">
	<div class="col col-left">Total</div>
	<div class="col col-right"></div>
	<div class="col col-right ">{{nextTotal}}</div>
</div>
</ion-content> </ion-view>