<ion-view view-title="Expense"> <ion-nav-bar
	class="bar-balanced"> <ion-nav-back-button
	class="button-clear"> <i class="ion-arrow-left-c"></i>
Back </ion-nav-back-button> </ion-nav-bar> <mt-alert> </mt-alert>
<form name="planningForm" novalidate=""
	ng-submit="submitPlan(planningForm)">

	
	<div class="item item-header item-positive row row-item" style="padding-top: 40px;">
		<div class="col col-right col-50">INCOME</div>
		<div class="col col-right col-50">{{income}}</div>
	</div>
	<div class="item item-header item-positive row row-item">
		<div class="col col-right col-50">Total</div>
		<div class="col col-right col-50">{{total()}}</div>
	</div>
	
	<ion-content has-bouncing="false" style="top: 120px;">

	<div class="list">
		<label class="item item-input item-stacked-label"
			ng-repeat="planning in planningList "> <span
			class="input-label">{{planning.category}} ---> (
				{{planning.expenditure}} )</span> <input type="number" name="planamount"
			ng-minlength="1" ng-maxlength="10" required
			ng-model="planning.plannedAmount"
			ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" value=0 />
		</label>

	</div>


	<div class="col">
		<button class="button button-block button-balanced">Submit</button>
	</div>

	</ion-content>
</form>
</ion-view>