<ion-view view-title="Expense"> <ion-nav-bar
	class="bar-balanced"> <ion-nav-back-button
	class="button-clear"> <i class="ion-arrow-left-c"></i>
Back </ion-nav-back-button> </ion-nav-bar> <ion-content has-bouncing="false"> <mt-alert>
</mt-alert>

<form name="expenseViewCriteriaForm" novalidate=""
	ng-submit="viewChoice(expenseViewCriteriaForm)">
	<div class="col-md-6 padding-top">
		<p class="input-group">
			<input type="text" class="form-control" required name="calDate"
				ng-model="data.calDate" datepicker-popup="{{format}}"
				is-open="status.opened" max-date="'2020-06-22'"
				datepicker-options="{{dateOptions}}" close-text="Close" /> <span
				class="input-group-btn"
				ng-class="{ 'has-error' : expenseSubmitForm.date.$invalid}">
				<button type="button" class="btn btn-default"
					ng-click="openDt($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		<div class="form-errors" ng-messages="expenseSubmitForm.date.$error">
			<div class="form-error" ng-message="required">Please select a
				date</div>
			<div ng-messages-include="app/templates/errors.htm"></div>
		</div>
		</p>
	</div>

	<div class="col">
		<div class="btn-group fullwidth" dropdown is-open="statusMn.isopen">
			<button id="monthbutton" type="button"
				class="btn btn-primary fullwidth" dropdown-toggle
				ng-disabled="disabled">
				{{data.month}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu fullwidth" role="menu"
				aria-labelledby="monthbutton" name="month" ng-model="data.month"
				required>
				<li role="menuitem" ng-repeat="month in months"><a
					ng-click="setMonth(month)">{{month}}</a></li>
			</ul>
		</div>
	</div>

	<div class="col">
		<div class="btn-group fullwidth" dropdown is-open="statusYr.isopen">
			<button id="yearbutton" type="button"
				class="btn btn-primary fullwidth" dropdown-toggle
				ng-disabled="disabled">
				{{data.year}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu fullwidth" role="menu"
				aria-labelledby="yearbutton" name="year" ng-model="data.year"
				required>
				<li role="menuitem" ng-repeat="year in years"><a
					ng-click="setYear(year)">{{year}}</a></li>
			</ul>
		</div>
	</div>



	<div class="col">
		<button class="button button-block button-balanced">Get it</button>
	</div>

</form>
</ion-content> </ion-view>